<!DOCTYPE html>
<html ng-app="gemStore">
<head>
  <title>AngularApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body ng-controller="StoreController as store">

<%= yield %>
</body>
</html>
